<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    </head>

<body>

{{if .}}
    <p>{{.}}</p>
{{end}}
{{/*if data exists*/}}
{{/*{{if .}}*/}}
{{/*    <h3>variable names:</h3>*/}}
{{/*range over it with the key value pairs*/}}
{{/*    {{range $key,$value := .}}*/}}
{{/*    <p>{{$key}} | {{range $value}} <em>{{.}}</em>{{end}}</p>*/}}
{{/*    {{end}}*/}}
{{/*{{end}}*/}}

{{/*<form action="/" method="post">*/}}
{{/*    <input type="text" name="fname">*/}}
{{/*    <input type="submit" name="sumbit-btn">*/}}
{{/*</form>*/}}
</body>

</html>

